__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

data/
*.sqlite
*.db
*.jsonl
data/

*.log

.DS_Store

ebpf/*.o
ebpf/*.skel.h
ebpf/guardd
ebpf/exec_read
ebpf/netconnect_read
ebpf/vmlinux.h
guard/__pycache__/
guard/ebpf/__pycache__/
guard/pipeline/__pycache__/
*.pyc
